<!DOCTYPE html><html><head>
  <script src="p5.js"></script>
  <script src="p5.sound.min.js"></script>
  <script src="ml5.min.js"></script>
  <!--   <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
 -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="utf-8">
</head>

<body>
  <div class="wapper">
    <h1> poseNet App</h1>
    <div class="row">
      <div class="box" id="left"></div>
      <div class="box" id="center"></div>
      <div class="box" id="right"></div>
    </div>
  </div>

  <script src="sketch.js"></script>
  <script src="hands.js"></script>
  <script src="menu.js"></script>
  <script src="camera.js"></script>
  <script src="meneger.js"></script>
  <script src="pose_monitor.js"></script>
  <script src="pose_model.js"></script>
  <script src="menu_block.js"></script>
</body></html>